<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/chat{{css}}.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/chat{{js}}.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.12.0/js/md5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="static/emojionearea.css">
    <script type="text/javascript" src="static/emojionearea.js"></script>


    <title>Chat App!</title>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
</head>
<body>

    <div class="loading">
        <label for="" class="tip">loading...</label>
    </div>
    <div class="mainChat">
        <div class="messages" ></div>
        <div class="typingDisplay">
            typing..
        </div>
        <div class="wordsDisplay">
            2500 characters
        </div>
        <div class="controls">
    
            <input type="text" class="message" placeholder="Say Something Amazing!"> 
            <button class="send" title="Press Control+Enter to send messages">send</button>
        </div>
    </div>
    <div class="chatMenu">
        <div class="friendchats">
            
        </div>
        <a href="/friends"><button class="friendsMenu">Friends (999+)</button></a>

        <div class="optionsmenu">
            <a href="/logout"><button class="logout">log out <i class="fa fa-sign-out"></i></button></a><br>
            <a href="/settings"><button class="settings">Settings <i class="fa fa-gear"></i></button></a>
        </div>
        <div class="tag">
            <div class="username">
                <label class="nameDisplay">{{session.get("user")}}</label>
            </div>
            <button class="options">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>

    <div class="serverMenu">
    </div>
</body>
</html>

<script>
    var user = '{{session.get("user")}}'

    $(document).ready(function() {
        $(".message").emojioneArea();
        
        setTimeout(function(){
            document.querySelector(".emojionearea-editor").addEventListener("input",function(e){

            if (replaceImageTagsWithEmoji(document.querySelector(".emojionearea-editor").innerHTML).length != 0) {
                document.querySelector(".wordsDisplay").innerHTML = (2500 - replaceImageTagsWithEmoji(document.querySelector(".emojionearea-editor").innerHTML).length) + " characters left"
                document.querySelector(".wordsDisplay").style.display = "block"
                document.querySelector(".wordsDisplay").classList.remove("red")
            }

            if (replaceImageTagsWithEmoji(document.querySelector(".emojionearea-editor").innerHTML).length > 2500) {
                document.querySelector(".wordsDisplay").classList.add("red")
            }
            if (replaceImageTagsWithEmoji(document.querySelector(".emojionearea-editor").innerHTML).length == 0) {
                document.querySelector(".wordsDisplay").style.display = "none"
                document.querySelector(".wordsDisplay").classList.remove("red")
            }


            })
        },1000)
    });


    // setTimeout(function() {
    //     var MESSAGES = '{{MESSAGES}}'
    //     MESSAGES = JSON.parse( MESSAGES.replace(/&#39;/g, '"').replace(/&lt;/g, '<').replace(/&gt;/g, '>'))
    //     console.log(MESSAGES)

    //     document.querySelector(".messages").innerHTML = ""
    //     message_ids = []
    //     if (Object.keys(MESSAGES).length == 0) {
    //         document.querySelector(".messages").innerHTML = "&nbsp;No Messages!"
    //         return
    //     }
    //     for (var i in MESSAGES) {
    //         loadMessage(MESSAGES[i])
    //     }
    //     document.querySelector(".messages").scrollTo(0, document.querySelector(".messages").scrollHeight);
    // },100)
</script>